// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;600&display=swap');

// Define fonts for body and headers
$body-font: 'MuseoModerno', cursive;
$headers-font: 'MuseoModerno', cursive;

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
body {
  // background-color: $AvatChat !important;
  // color: white !important;
}

p {
  font-weight: lighter;
}

a {
  transition: all 0.8s ease;

  &:hover {
    text-decoration: none !important;
  }
}
